main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* 	font-size: calc(10px + 2vmin);
 */
	color: var(--primary-color);
}
main p {
	width: 70%;
	font-size: 24px;
	text-align: center;
}

main h1 {
	font-size: 3em;
	margin-bottom: 7px;
}

main h3 {
	margin-top: 0;
	font-weight: 400;
	font-size: 30px;
}

.comunidades {
	width: 100%;
	margin: 20px;
	padding: 10px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

@media only screen and (max-width: 600px) {
	.comunidades {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}
	main {
		width: 100%;
	}
	main p {
		text-align: center;
		width: 100%;
	}
}
