.card {
	width: 80%;
	height: 200px;
	border-radius: 2px 2px 10px 10px;
	background-color: var(--secondary-color);
	box-shadow: 0 1px 6px var(--blur-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	animation: fadeIn 1.5s ease-in-out;
}

.title-container {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.description-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.description-container p {
	font-size: 24px;
}

.discord {
	border-top: 5px solid #8c9eff;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 4;
}

.telegram {
	border-top: 5px solid #139bd0;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

.facebook {
	border-top: 5px solid #3b5998;
	grid-row-start: 2;
	grid-column-start: 3;
	grid-column-end: 5;
}

.card h3 {
	color: var(--primary-color);
	font-size: 1.1em;
	text-align: center;
	margin-bottom: 0;
	font-weight: 500;
	width: 70%;
}

.icon {
	height: 100px;
	color: var(--bg-color);
}

@media only screen and (max-width: 600px) {
	.card {
		width: 93%;
		height: 150px;
		margin: 10px;
		padding: 10px;
	}
	.icon {
		height: 60px;
	}
	.description-title h3 {
		font-size: 1.3em;
	}
	.description-container p {
		font-size: 1.1em;
	}
}

@keyframes fadeIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
