.card {
	width: 80%;
	height: 200px;
	border-radius: 2px 2px 10px 10px;
	background-color: var(--secondary-color);
	box-shadow: 0 1px 6px var(--blur-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	animation: fadeIn 1.5s ease-in-out;
	padding: 10px;
}

.card h3 {
	color: var(--primary-color);
	font-size: 28px;
	margin-bottom: 0;
	font-weight: 500;
}

.container {
	width: 90%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
}

.discord {
	border-top: 5px solid #8c9eff;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 4;
}

.telegram {
	border-top: 5px solid #139bd0;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

.facebook {
	border-top: 5px solid #3b5998;
	grid-row-start: 2;
	grid-column-start: 3;
	grid-column-end: 5;
}

.icon {
	height: 100px;
}

@media only screen and (max-width: 600px) {
	.card {
		width: 90%;
		height: auto;
		margin: 15px;
		padding: 10px;
		align-items: center;
	}

	.card h3 {
		padding: 5px;
	}

	.container {
		height: auto;
		width: 100%;
		padding-bottom: 15px;
		flex-direction: column;
		align-items: flex-start;
	}
	.container p {
		margin: 0;
		width: 100%;
	}

	.icon {
		height: 50px;
		margin: 10px;
		margin-top: -45px;
	}
}

@keyframes fadeIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
