.header {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	height: 12vh;
	border-bottom: 1px solid var(--blur-color);
	width: 98%;
	padding: 20px;
	box-sizing: border-box;
	animation: fadeInDown 1.5s ease-in-out;
}

@keyframes fadeInDown {
	0% {
		transform: translate(0, -70px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.nav {
	width: 18vw;
	display: flex;
	justify-content: space-around;
}

.logo {
	height: 100%;
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	padding: 0;
}

.logo img {
	height: 40px;
}

.logo span {
	color: var(--primary-color);
	font-size: 1.2em;
	font-weight: 500;
}

.nav button {
	color: var(--primary-color);
	background: transparent;
	border: 0;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	font-size: 1.1em;
	padding: 8px 0;
}

.nav button:hover,
.nav button.active {
	border-bottom-color: #139bd0;
}

@media only screen and (max-width: 600px) {
	.nav {
		width: auto;
	}

	.nav button {
		margin: 0 8px;
	}
}
